.app{
    display: grid;
    background-color: #dadbd3;
    height: 100vh;
    place-items: center;
}

.app_body{
    display: flex;
    background-color: #ededed;
    height: 95vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75) ;
}

::-webkit-scrollbar
{
  width: 7px;
}

::-webkit-scrollbar-track
{
  background: lightgrey;
  border: none;
}